.App {
  max-width: 640px;
  margin: 0 auto;
  padding-top: 5%;
}

label {
  cursor: pointer;
  position: relative;
  top: -2px;
  letter-spacing: -0.02em;
  color: #121313;
  font-weight: 500;
}

form {
  width: 100%;
  background: #fff;
  padding: 40px;
  margin-bottom: 15px;
  position: relative;
  top: -20px;
  border-radius: 0px 0px 15px 15px;
}

.startEnd {
  display: flex;
  gap: 0 50px;
  margin-bottom: 20px;
}

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.inputLabel {
  margin-bottom: 12px;
  font-weight: 600;
  line-height: 22px;
  cursor: pointer;
}

.timeInput {
  max-width: 95px;
  padding: 12px;
}

input {
  border: 1.5px solid #838383;
  color: #000;
  border-radius: 5px;
  text-align: center;
}

input::placeholder {
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

.timeInput:focus, 
.intervalInput:focus,
.reasonShutdown:focus,
.priceInput:focus {
  border: #F80F63 solid 1.5px;
  outline: 0;
  transition: all .1s;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 0 11px;
  margin-bottom: 30px;
}

.interval {
  display: flex;
  flex-direction: column;
}

.interval label {
  margin-bottom: 12px;
}

.intervalInput {
  max-width: 85px;
  padding: 12px 22px;
  margin-bottom: 30px;
}

button {
  background: #1C1C1C;
  border-radius: 13px;
  padding: 16px 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  cursor: pointer;
  border: 0;
}

.shareWrapper {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.addShare {
  background-color: #FFEFF5;
  border: 1px dashed #F80F63;
  border-radius: 5px;
  padding: 35px 0;
  text-align: center;
  width: 100px;
  cursor: pointer;
}

.share {
  background: #EBEBEB;
  border: 1px solid #C2C2C2;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  position: relative;
}

.deleteShare {
  background: #F80F63;
  border: 1.5px solid #FAFAFF;
  border-radius: 50%;
  padding: 1px;
  position: absolute;
  right: -8px;
  top: -8px;
  cursor: pointer;
}

.reasonShutdown {
  padding: 12px 26px;
  text-align: start;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.116);
  z-index: 99;
}

.modalWrapper {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto;
  top: 40%;
  position: relative;
  width: 50%;
}

.customCheckbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.customCheckbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.customCheckbox+label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1.5px solid #A5BABA;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  margin-right: 11px;
  transition: all .3s;
}

.customCheckbox:checked+label::before {
  border-color: #F80F63;
  background-image: url(./assets/images/checkbox.svg);
  background-size: 12px;
  transition: all .3s;
}

.uploadImg {
  opacity: 0;
  width: 0;
  height: 0;
  bottom: 0;
}